<!DOCTYPE html>
<html lang="vi" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerFragment">
    <div>
        <nav class="navbar navbar-expand-lg bg-body-secondary border-bottom border-1">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand fw-bold text-danger" th:href="@{/}">OVERTIME REQUEST</a>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="pe-2 text-danger" th:text="'Welcom ' + ${#authentication.name}"></div>
                    <div class="btn-group">
                        <button class="btn btn-light dropdown-toggle text-danger" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                            <i class="bi bi-person-fill"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" sec:authorize="isAuthenticated()">
                            <li>
                                <a class="border border-0 bg-transparent px-3 py-1 w-100 text-danger" th:href="@{/logout}" type="submit">Logout
                                    <i class="bi bi-box-arrow-right larger-icon"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
</html>