.left-bar {
    width: 280px;
}

.error {
    color: red;
}

.autocomplete-results {
    max-height: 150px;
}

.viewClaim {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.highlightedButton{
    background-color: #d2d4d6;
}

.bg-custom {
    background: rgba(0, 0, 0, 0.5);
}

.bg-img-custom{
    background: url("https://img4.thuthuatphanmem.vn/uploads/2020/07/30/background-khai-giang-cuc-dep_024036461.jpg") center no-repeat;
    background-size: cover;
}

.w-35 {
    width: 35% !important;
}