<!DOCTYPE html>
<html lang="vi" th:replace="~{layout/template::areas(~{::title}, ~{::main}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Home Page</title>
</head>
<body>
<main>
<!--    <div class="mb-3" th:if="${not #strings.isEmpty(message)}">-->
<!--        <div class="alert alert-success py-2 px-3" role="alert" th:text="${message}">-->
<!--        </div>-->
<!--    </div>-->

    <h1 class="text-warning text-center" th:text="'HELLO: ' + ${staffName}"></h1>
</main>
</body>
<script></script>
</html>