<!DOCTYPE html>
<html lang="vi" th:replace="~{layout/template::areas(~{::title}, ~{::main}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Claim</title>
</head>
<body>
<main>
    <div>
        <div class="mb-3" th:if="${not #strings.isEmpty(successMsg)}">
            <div class="alert alert-success py-2 px-3" role="alert"
                 th:text="${successMsg}">
            </div>
        </div>
        <div class="mb-3" th:if="${not #strings.isEmpty(errorMsg)}">
            <div class="alert alert-danger py-2 px-3" role="alert"
                 th:text="${errorMsg}">
            </div>
        </div>
        <div class="border-bottom border-1 mb-5 p-2">
            <h1 class="text-warning" th:text="${titleName}"></h1>
        </div>
        <table class="table table-bordered" th:if="${totalPage > 0}">
            <thead>
                <tr class="text-center">
                    <th class="bg-body-secondary">Claim Id</th>
                    <th class="bg-body-secondary">Claim Date</th>
                    <th class="bg-body-secondary">Project Name</th>
                    <th class="bg-body-secondary">Project Duration</th>
                    <th class="bg-body-secondary">Total Overtime Hours</th>
                    <th class="bg-body-secondary">Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <th:block th:each="c : ${claims}">
                    <tr class="myClaim-row" data-rowid="1" data-target="#exampleModalCenter" data-toggle="modal">
                        <td th:text="${c.id}"></td>
                        <td th:text="${#temporals.format(c.date, 'dd/MM/yyyy')}"></td>
                        <td th:text="${c.working.project.name}"></td>
                        <td>
                            <input class="startDate" hidden="hidden" th:value="${c.working.project.startDate}">
                            <input class="endDate" hidden="hidden" th:value="${c.working.project.endDate}">
                            <span class="duration"></span>
                        </td>
                        <td>
                            <span th:if="${c.totalHours} == 1" th:text="${c.totalHours} + ' hour'"></span>
                            <span th:if="${c.totalHours} > 1" th:text="${c.totalHours} + ' hours'"></span>
                        </td>
                        <td>
                            <button class="btn btn-primary" id="btn-claimDetail" type="button"
                                    data-bs-target="#showClaimDetail" data-bs-toggle="modal" th:data-id="${c.id}">
                                Detail
                            </button>
                            <button class="btn btn-success" id="btn-submitClaim" type="button"
                                    data-bs-target="#cancelAndSubmitClaim" data-bs-toggle="modal" th:data-id="${c.id}"
                                    th:if="${#strings.equals(c.status, 'DRAFT')}">
                                Submit
                            </button>
                            <a class="btn btn-warning text-white" th:if="${#strings.equals(c.status, 'DRAFT')}"
                                    th:href="@{/claim/myClaim/update(id=${c.id})}">
                                Update
                            </a>
                            <button class="btn btn-danger" id="btn-cancelClaim" type="button"
                                    data-bs-target="#cancelAndSubmitClaim" data-bs-toggle="modal" th:data-id="${c.id}"
                                    th:if="${#strings.equals(c.status, 'DRAFT')}">
                                Cancel
                            </button>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div th:if="${totalPage == 0}">
            <p class="text-danger">No data available!</p>
        </div>

        <div th:if="${totalPage > 0}">
            <nav class="m-3">
                <ul class="pagination justify-content-end">
                    <li class="page-item" th:if="${currentPage > 1}">
                        <a class="page-link" th:href="@{'?pageNumber='+1}">First</a>
                    </li>
                    <li class="page-item" th:if="${currentPage > 1}">
                        <a class="page-link" th:href="@{'?pageNumber='+${currentPage - 1}}">Previous</a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPage)}"
                        th:classappend="${currentPage == i ? 'active' : ''}"
                        th:if="${i <= currentPage + 2 && i >= currentPage - 2 && totalPage > 1}">
                        <a class="page-link" th:href="@{'?pageNumber='+${i}}" th:text="${i}"></a>
                    </li>
                    <li class="page-item" th:if="${currentPage < totalPage}">
                        <a class="page-link" th:href="@{'?pageNumber='+${currentPage + 1}}">Next</a>
                    </li>
                    <li class="page-item" th:if="${currentPage < totalPage}">
                        <a class="page-link" th:href="@{'?pageNumber='+${totalPage}}">End</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="cancelAndSubmitClaim" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-warning"></h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                        <a class="btn btn-primary btn-okModal">OK</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<script th:src="@{/javascript/claim/total.js}"></script>
</body>
</html>